.site-content.blog-post {
    margin-top: 60px;
}
.content-box {
    padding: 1rem 2rem;
    border-width: 3px 0;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.3);
    background: #2e2e2e;
}
.horizontal-list {
    margin: 0;
    color: #fff;
}
.horizontal-list__title {
    color: #823282;
    font-size: 16px;
    text-transform: uppercase;
}
.horizontal-list li {
    display: inline-block;
    list-style: none;
    font-size: 12px;
    margin-bottom: 0;
}
.horizontal-list.horizontal-list--bulleted li + li {
    position: relative;
}
.horizontal-list.horizontal-list--bulleted li + li::before {
    content: "\2022";
    position: absolute;
    width: 0;
    text-align: center;
    left: -13px;
}
.horizontal-list li a {
    color: #fff;
    transition: all .4s;
}
.player {
    width: 100%;
    padding: 10px 1rem;
}
.player iframe {
    display: block;
    margin: 0 auto 10px;
}
.player audio {
    width: 90%;
}
.player audio:focus {
    outline: none;
}

@media (min-width: 1000px) {
    .content-box {
        border-width: 3px;
        padding: 1rem;
        text-align: center;
        margin-top: 4.5rem;
    }
    .horizontal-list li {
        font-size: 20px;
    }
    .horizontal-list li + li {
        margin-left: 1.5rem;
    }
    .horizontal-list.horizontal-list--bulleted li + li::before {
        left: -18px;
    }
}


.entry-header-title, .entry-header-standard {
    margin-bottom: 1.5rem;
}
.post-media {
    margin-bottom: 3rem;
}
.post-media figure {
    margin-bottom: 0;
}
figure {
    margin: 0 0 1rem;
}
.post-media img {
    width: 100%;
}
.entry-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.entry-container .entry-content-wrap {
    width: 100%;
    font-size: 1.125rem;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}
.entry-content {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: inherit;
}
.entry-content {
    line-height: 1.7;
}
.entry-content>*:first-child, .entry .entry-summary>*:first-child {
    margin-top: 0;
}
.entry-content>*, .entry .entry-summary>* {
    margin-top: 32px;
    margin-bottom: 32px;
}
.entry-content p a, .pk-alert a, .entry-content p strong a, .entry-content p u a, .entry-content p em a, .entry-content ul li a, .entry-content ol li a {
    text-decoration: none;
    border-bottom: 1px solid #c1c1c1;
    color: #212121;
    padding-bottom: 1px;
}
.entry-content p a:hover, .pk-alert a:hover, .entry-content p strong a:hover, .entry-content p u a:hover, .entry-content p em a:hover, .entry-content ul li a:hover, .entry-content ol li a:hover {
    color: #00a562;
    border: none;
}
.wp-block-quote:not(.is-large):not(.is-style-large) {
    border-left: 0;
}
.wp-block-quote:not(.is-large), .wp-block-quote:not(.is-style-large) {
    position: relative;
    font-size: 1.25rem;
    line-height: 1.5;
    padding: 1.5rem 0;
    margin-top: 48px;
    margin-bottom: 48px;
    border-top: 1px #e9ecef solid;
    border-bottom: 1px #e9ecef solid;
    color: #000;
}
.entry-content>blockquote p:first-child {
    font-size: inherit;
    margin-top: 0;
}
.entry-content>blockquote p {
    line-height: 1.5;
}
.entry-content>blockquote cite {
    display: block;
    color: #a0a0a0;
    font-size: .875rem;
    font-style: italic;
    margin-top: .5rem;
    font-weight: 400;
}
.entry-content a {
    color: #00a562;
    text-decoration: none;
}
.wp-block-quote {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    letter-spacing: -0.01em;
    text-transform: none;
}


@media (min-width: 600px) {
    .entry-content>*, .entry .entry-summary>* {
        margin-top: 32px;
        margin-bottom: 32px;
    }
}
@media (min-width: 1020px) {
    .article.content-area {
        position: relative;
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .entry-container .entry-content-wrap {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
        padding: 0 20px;
        margin: 0;
        order: 2;
        position: relative;
        font-size: 1.125rem;
    }
    .entry .entry-container {
        display: block;
        position: relative;
        max-width: 680px;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        color: #121416;
    }
    .entry-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -20px;
        margin-left: -20px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .entry-container .entry-content {
        max-width: 100%;
    }
}